@font-face {
  font-family: Happy;
  src: url(hm.ttf);
}
body{
  font-family: Happy;
  text-align: center;
  color: white;
  background: linear-gradient(#a2d2ff, #EFB0C9);
}
h1,h2,h3,h4,p{
  text-shadow: 0px 0px 1px black;
}
#bday-age{
  background: #EFB0C9;
  padding: 5px 10px;
  border-radius: 5px;
  margin:15px 0px 12px 0px;
}
#bday-date{
  margin: 0;
  background: #EFB0C9;
  padding: 5px 10px;
}
#header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pl-img{
  border: 6px solid #EFB0C9;
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 150px;
}
.gift-img{
  border-radius: 10px;
  border: 4px solid white;
  width: 500px;
  height: 500px;
  background-image: url(images/gift-cover.jpg);
  background-size: cover;
  margin: 0 auto;
}
#happy-img:hover{
  background-image: url(images/happy.gif);
  background-size: cover;
}
#hot-img:hover{
  background-image: url(images/hot.gif);
}
#genius-img:hover{
  background-image: url(images/genius.gif);
}
#badass-img:hover{
  background-image: url(images/badass.gif);
}
#cheers-img{
  height:300px;

}
#cheers-img:hover{
  background-image: url(images/cheers.gif);

}
.gift-section{
  margin-top: 50px;
}
a,p{
  margin-top: 40px;
  font-size: 25px;
  color:inherit;
}
