body{
  margin: 0;
}

.header{
    background-color: #2d4fab;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
}
.h1{
  display: flex;
  justify-content:

}
p,a{
  margin: 0;
  color: white;
  text-decoration: none;
}
